<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="thread">
      <h4><%= @thread.title.titleize %></h4>

      <div class="meta">
        <%= I18n.l(@thread.created_at.to_date) %> oleh <%= @thread.user.name %>
      </div>

      <div class="content">
        <%= @thread.content %>
      </div>
    </div>

    <% if @thread.forum_posts.any? %>
      <% @thread.forum_posts.each do |p| %>
        <div class="thread">
          <div class="meta">
            <%= I18n.l(p.created_at.to_date) %> oleh <%= p.user.name %>
          </div>

          <div class="content">
            <%= p.content %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div>
        Jadilah yang pertama melakukan comment.
      </div>
    <% end %>
  </div>
</div>
